<footer class="main-footer" >
    <div class="row">
        <div class="col-md-6 d-flex ">
            <img src="../../assets/dist/img/EU-grant-logo.png" alt="EU Grant Logo" style="opacity: .8;">
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-end align-items-center">
                <p class="bold-text text-center" style="padding-right: 15px;">Powered by:</p>
                <img src="../../assets/dist/img/BD4OPEM_logo_horizontal_blue.png" alt="BD4OPEM Logo" style="opacity: .8; width: 180px;">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center" style="margin-top: -40px;">
            <a href="../../assets/P2P_trading_service_PRIVACY.pdf" target="_blank">Privacy Policy</a>
        </div>
    </div>
</footer>
