
<form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm)">
      <div class="form-group col-md-6">
        <label for="exampleInputEmail1">CEC Contract Id:</label>
        <input type="text" class="form-control" formControlName="contractId" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Cec contract id">
      </div>

      <div class="form-group col-md-6">
        <label for="exampleInputEmail1">Context:</label>
        <input type="text" class="form-control" formControlName="context" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="json context">
      </div>
    
    <button type="submit" [disabled]="!addForm.valid" class="btn btn-danger">Submit</button>
  </form>
  