  <!-- Navbar  -->
  <nav class="main-header navbar navbar-expand" [ngClass]="darkMode.active == true? 'dark-mode':''">
     <!-- Navbar per sito privo di sidebar -->
    <div class="container">
      <a class="navbar-brand" routerLink="/">Service: ATOS P2P Trading </a>
    </div>
    <div class="collapse navbar-collapse order-4">
      <ul class="navbar-nav">
        <a routerLink="/Congestion" class="nav-link">Account</a>
      </ul>
      <ul class="navbar-nav">
        <a routerLink="/Report" class="nav-link">ATOS</a>
      </ul>
    </div> 
    


    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
     

      <li class="nav-item dropdown">
        <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex"> -->
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="#" class="dropdown-item">Manage Account</a>
            </div>
        </div>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

