<!-- Navbar -->
<nav class="main-header navbar navbar-expand" >
  <!-- Navbar per sito privo di sidebar -->
  <div class="container">
    <h1 class="navbar-brand" routerLink="/">P2P Energy Trading Service </h1>
  </div>
  <div class="collapse navbar-collapse order-4">
    <ul class="navbar-nav">
      <li class="nav-item">
        <h2 class="nav-link">Organization:</h2>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <h2 class="nav-link"> {{ this.organisation }}</h2>
      </li>
    </ul>
  </div>

