<td>{{ message }}</td>
  <div class="container mt-16">
    <h2> List of contracts: </h2>
    <table class="table table-striped">
      <thead>
          <tr>
            <th></th>
            <th>Service User Contract ID</th>
            <th>Name</th>
            <!-- <th>Algorithm</th> -->
            <th>Contract Status</th>
            <th>Execution status</th>
          </tr>
      </thead>
      <tbody *ngFor="let contract of Contracts; let i = index ">
          <tr>
            <button *ngIf="contract.status! === 'Active'" class="button button2"  (click)="onSelect(contract)">
                <td *ngIf="contract.status! === 'Active'"> Manage </td>
            </button>
            <td *ngIf="contract.status! === 'Active'" >{{ contract.contractID! }}</td>
            <ng-container *ngFor="let data_parameters of contract.data_parameters; let z = index">
                <td *ngIf="contract.status! === 'Active'">{{ contract.business_parameters?.contractName! }}</td>
            </ng-container>
            <td *ngIf="contract.status! === 'Active'">{{ contract.status! }}</td>
            <td *ngIf="contract.status! === 'Active'" >
                <div>
                  <p style="color:MediumSeaGreen;" *ngIf="status_contract === 'Running'" >Running  &#x25CF;</p>
                  <p  *ngIf="status_contract !== 'Running'">Not running</p>
                </div>
            </td>
          </tr>
        </tbody>
    </table>
    <br>
    <br>
    <div *ngIf="selectedContract ">
      <h4 >Contract info</h4>
      <table class="table table-striped">
          <thead>
            <tr>
                <th>CEC Service User Contract:  {{ contract.contractID! }} </th>
                <td> <button class="button button3" (click)="open(contract)"> View Contract </button></td>
                <td> </td>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th> Algorithm </th>
                <!-- <td>{{ selectedAlg }}</td> -->
                <td>
                  <select (change)="selectChangeHandler($event)">
                      <option value="Cooperative">Cooperative</option>
                      <option value="Competitive">Competitive </option>
                  </select>
                </td>
                <td> </td>
            </tr>
            <tr>
                <th> Status </th>
                <td>
                  <p style="color:MediumSeaGreen;" (click)="initialise()" *ngIf="check">Active  &#x25CF;</p>
                  <p style="color:rgb(180, 41, 41);" *ngIf="contract.status! !== 'Active' && !check">Inactive</p>
                </td>
                <td> <button style="color: blue;" (click)="initialise()" > Initialise </button></td>
            </tr>
            <tr>
              <td>
                <p  *ngIf="check">The P2P Trading Smart Contract has been successfully started</p>
              </td>
            </tr>
          </tbody>
      </table>
      <table class="table table-bordered border-info">
          <thead class="table-dark">
            <tr>
                <th>Smart meter ID</th>
                <th>Retailer</th>
                <th>Sell Discount %</th>
                <th>Buy Discount %</th>
            </tr>
          </thead>
          <tbody *ngFor="let data_parameter of selectedContract.data_parameters; let t = index">
            <tr *ngFor="let meteringPoints of selectedContract.data_parameters?.[t]?.meteringPoints; let z = index">
                <td >
                  {{ data_parameter?.meteringPoints?.[z]!}}
                </td>
                <td>Retailer X</td>
                <td> - </td>
                <td> - </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
